---
import CharacterGrid from "@/components/StudentGrid.astro";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ブルアカタイトルコールリスト</title>
    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: #4caf50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        transition: background-color 0.3s;
      }

      .button:hover {
        background-color: #45a049;
      }
    </style>
  </head>
  <body>
    <CharacterGrid />
  </body>
</html>
