---
import CharacterGrid from '@/components/StudentGrid.astro'
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ブルアカタイトルコールクイズ</title>
  </head>
  <body>
    <div>
      {Astro.site}
    </div>
    <CharacterGrid />
  </body>
</html>

<style>
  body {
    margin: 0;
    padding: 0;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4fcfd;
  }
</style>
