---
import StudentCard from '@/components/StudentCard.astro'
import { getSpreadSheetJSON } from '@/lib/getSpreadSheetJSON'
import type { Students } from '@/lib/interfaces'
import { SPREADSHEET_ID, STUDENTS_SHEET_NAME } from '@/server-constants'

const studentsData: Students = await getSpreadSheetJSON({
  spreadsheetId: SPREADSHEET_ID,
  sheetName: STUDENTS_SHEET_NAME,
  outputDir: 'public/data',
  outputFile: 'studentsData.json',
})
---

<div class="grid" id="studentGrid">
  {
    studentsData.map(({ name, voiceActor }) => (
      <StudentCard name={name} voiceActor={voiceActor} data-name={name} />
    ))
  }
</div>

<style>
  .grid {
    display: grid;
    justify-content: center;
    place-items: center;
    width: 100%;
    max-width: 1080px;
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    font-size: 16px;

    /*iPad mini6は193dpi以上で変化    ratio2が対象*/
    @media (min-resolution: 160dpi), (-webkit-min-device-pixel-ratio: 2) {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      gap: 16px;
      font-size: 18px;
    }

    /*iPhone13 miniは289dpi以上で変化 ratio2と3の両方が対象？*/
    @media (min-resolution: 250dpi), (-webkit-min-device-pixel-ratio: 3) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 8px;
      font-size: 16px;
    }
  }
</style>
