

.button-group {
    display: flex;
    align-items: center;
    gap: 0.25em;
    height: 2.4em;

    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;

    touch-action: manipulation;

    .para {
        position: relative;
        height: 100%;
        font-size: 1.2em;
        background: transparent;
        border: none;
        padding-inline: 0.5em;
        padding-block: 0;
        margin: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            transform: skewX(-10deg);
            border-radius: 0.25em;
        }

        &:has(.btn) {
            transition: transform 0.05s ease;
            cursor: pointer;

            &:active {
                transform: scale(0.95);
                cursor: default;
            }
        }

        &:has(.btn):before {
            background-color: #f4f5f6;
            box-shadow: 0 0.16em 0.1em rgba(0, 0, 0, 0.2);
        }

        &:has(.counter):before {
            background-color: #4e5b6e;
            cursor: text;
        }

        .btn,
        .counter {
            position: relative;
            padding: 0;
            border: none;
            background: transparent;
            font-size: 1em;
            font-weight: 700;
            font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", sans-serif;
            text-align: center;
        }

        .btn {
            pointer-events: none;
            color: #496f8f;

            &.plus {
                color: #3dcfff;
            }

            &.minus {
                color: #fe6f00;
            }
        }

        .counter {
            width: 3em;
            color: white;

            &:focus {
                outline: none;
            }
        }

        &:focus {
            outline: none;
            border: none;
        }

        &:focus:focus-visible:before,
        &:has(.counter):focus-within:before {
            outline: 0.2em solid #f3e756;
        }

        &.disabled {
            pointer-events: none;
            cursor: not-allowed;

            .btn {
                color: #828282;
            }

            &:has(.btn):before {
                background-color: #cdcecf;
            }
        }
    }
}

/*HG丸ｺﾞｼｯｸM-PRO用の調整*/
.win .btn {
    letter-spacing: 0.05em;
}

.win .counter {
    letter-spacing: 0.1em;
    transform: scaleX(0.8);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 100vh;
}

body {
    margin: 0;
    background-color: #efeff0;
}
